In [90]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_csv("ls_user_active_genk_2022-03-18_2022-03-24.csv")

C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [92]:
df.head()

,Unnamed: 0,guid,total_date_active,total_item_click,ls_item_click,ls_item_view
0,0,0.8332557305994528,1,0,NaN,"['h3img-20211213150627024,h3img-20211209225628..."
1,1,1000063981245978332,1,2,"['2180_780-h3-2022031701101843', '3287_223-gen...","['h1-2022031022254806,h1-2022031022254806,h1-2..."
2,2,1000068891963281628,1,1,['5194_274-h3-20220322125915219'],"['h3-12', 'h3-20220318004035845']"
3,3,1000071951953423504,1,0,NaN,"['h3-20220322133617546,h3-13,h3-12,h3-11,h3img..."
4,4,1000177551999945308,1,0,NaN,['h3-20220226104543855']

In [93]:
df.describe()

          Unnamed: 0  total_date_active  total_item_click
count  390947.000000      390947.000000     390947.000000
mean   195473.000000           1.282084          0.569885
std    112856.822182           0.820760          2.469012
min         0.000000           1.000000          0.000000
25%     97736.500000           1.000000          0.000000
50%    195473.000000           1.000000          0.000000
75%    293209.500000           1.000000          0.000000
max    390946.000000           7.000000        269.000000

1. Tạo cột bool

In [94]:
df["active"] = df["total_date_active"] > 2
df["click"] = df["total_item_click"] > 0.57

2. Tạo random sample 20k dòng

In [95]:
sample = df.sample(n=20000, random_state=1, replace=False)
sample.head()

,Unnamed: 0,guid,total_date_active,total_item_click,ls_item_click,ls_item_view,active,click
306184,306184,7344155545250292875,1,0,NaN,"['h3-20220314182007409,h3img-20220314230650429...",False,False
2088,2088,1045518850457477009,1,0,NaN,"['h3img-2022031623515137,h3img-202203171129174...",False,False
80227,80227,2647993603711997606,1,0,NaN,"['h3-20220226104543855,h3img-20211213150627024...",False,False
317663,317663,7575080131907214328,3,3,"['3220_361-h3-20220309152209125', '10936_333-h...","['h3-20220309152209125,h3img-20220317135733827...",True,True
247896,247896,6136529332251334930,1,0,NaN,"['h3-20160429160957397,h3-20150322224229753']",False,False

3. Tạo df_A

In [96]:
df_A = sample.groupby(["active", "click"]).sample(frac=0.7, random_state=1, replace=True)
df_A = df_A.drop_duplicates()
df_A.head()

,Unnamed: 0,guid,total_date_active,total_item_click,ls_item_click,ls_item_view,active,click
92788,92788,2922818661457658539,1,0,NaN,['h3-20220320111803283'],False,False
81316,81316,2675875011907752447,2,0,NaN,"['h3img-2022031008372972,h3img-202203041037273...",False,False
348180,348180,8215514642884080953,1,0,NaN,['h3-20220226104543855'],False,False
202635,202635,5180061291906477034,1,0,NaN,"['h3-20220314182007409', 'h3img-20220314230650...",False,False
22885,22885,1470333201736555824,1,0,NaN,"['h3-20220311115922186,h3-20220316015722012', ...",False,False

Check value

In [97]:
df_A["guid"].count()

10056

In [98]:
df_A["active"].value_counts()

False    9452
True      604
Name: active, dtype: int64

In [99]:
df_A["click"].value_counts()

False    8362
True     1694
Name: click, dtype: int64

4. Tạo df_B

In [100]:
df_B = sample.groupby(["active", "click"]).sample(frac=0.7, random_state=2, replace=True)
df_B = df_B.drop_duplicates()
df_B.head()

,Unnamed: 0,guid,total_date_active,total_item_click,ls_item_click,ls_item_view,active,click
82300,82300,2698490172112613271,1,0,NaN,['h1-20220303204529555'],False,False
226889,226889,5693970771984329912,1,0,NaN,"['h3-20220317165113448', 'h3img-20220314113611...",False,False
328817,328817,7815707872884428031,1,0,NaN,['h3-20220314182007409'],False,False
17815,17815,1364479551953161042,1,0,NaN,"['h3-20220316181010757,h3-2022,h3-12,h3img-202...",False,False
375265,375265,8772230911906545723,1,0,NaN,"['h3img-20211213150627024,h3img-20211209225628...",False,False

In [101]:
df_B["guid"].nunique()

10074

In [102]:
df_B["active"].value_counts()

False    9455
True      619
Name: active, dtype: int64

In [103]:
df_B["click"].value_counts()

False    8397
True     1677
Name: click, dtype: int64